* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    border: 2px solid red;

}


.maincontainer {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.inputs {
    width: 100%;
    height: 30vh;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;


}

input {
    width: 15%;
    height: 20%;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

button {
    width: 10%;
    height: 20%;
    margin: 0.5rem;
    font-size: 1rem;

}

.data {
    width: 100%;
    height: 70%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.data table {
    width: 80%;
    height: 90%;
    border: 2px solid green;
    border-collapse: separate;
    border-spacing: 0 1rem;


}

tr {
    width: 100%;
    height: 3rem;
    background-color: rgb(200, 177, 221);

}

td {
    width: 15%;
    height: 10%;
    border-spacing: 1rem 1rem;
  


}

td button{
    width: 50%;
    height: 50%;
    border: 1pt solid black;
}